@import "./homePage";
@import "./signInPage";
@import "./header";
@import "./mediaqueries";
@import "./footer";
@import "./feature";
@import "./userProfilePage";

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
     }
  
  .fa-user-circle{
    font-size: 1rem;
    margin-right: 5px;
  }


  #root {
    height: 100%;
  }
  
  .App {
    height: 100%;
  }
  